<div class="row gray-darker">
    <div class="col-xs-12">
            &nbsp;
    </div>

    <div class="col-xs-12" style="padding-bottom: 2em;">
        <div class="pull-left">
            &nbsp;
            <img src="" alt="">
        </div>

        <div class="pull-right">
                     <button class="btn btn-primary" type="submit" style="margin-right: .2em;">Edit</button>
                    <button class="btn btn-danger" type="button">Delete</button>
        </div>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Email:
    </div>
    <div class="col-xs-12">
        Phone:
    </div>

</div>