<div class="row gray-darker">
    <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
    </div>

    <div class="col-xs-12" style="padding-bottom: 2em;">
        <div class="pull-left">
            &nbsp;
            <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" style="max-width: 90%;">
        </div>

        <div class="pull-right">
                    <a class="btn btn-info" (click)="onEditContact()">Edit</a>

                    <a class="btn btn-danger" (click)="onDeleteContact()">Delete</a>
        </div>    
    </div>
</div>
<div class="row" style="padding:2em;">
    <div class="col-xs-12">
       <b>Email:</b> {{ contact.email }}
    </div>
    <div class="col-xs-12">
        <b>Phone:</b> {{ contact.phone }}
    </div>

</div>


<div class="row">
    <div class="col-xs-12" *ngFor="let groupscontact of contact.group">
    <div class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{groupscontact.name}}</h4>
        
        </div>
        <span class="pull-right">
            <img src="{{ groupscontact.imageUrl }}" alt="{{groupscontact.name}}" class="img-responsive" style="max-height:50px">
        </span>

    </div>
    </div>

</div>