<div class="row gray-darker">
    <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
    </div>

    <div class="col-xs-12" style="padding-bottom: 2em;">
        <div class="pull-left">
            &nbsp;
            <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}">
        </div>

        <div class="pull-right">
                    <a class="btn btn-info" (click)="onEditContact()">Edit</a>

                    <a class="btn btn-danger" (click)="onDeleteContact()">Delete</a>
        </div>    
    </div>
</div>
<div class="row" style="padding:2em;">
    <div class="col-xs-12">
       <b>Email:</b> {{ contact.email }}
    </div>
    <div class="col-xs-12">
        <b>Phone:</b> {{ contact.phone }}
    </div>

</div>